
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #fff; /* Fundo branco */
    font-family: Arial, sans-serif;
  }
  
  .header {
    background: #e60000; /* Vermelho Americanas */
    color: #fff; /* Texto branco */
    padding: 10px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  li {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 280px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
  }
  
  li:hover {
    background: #e60000; /* Vermelho Americanas ao passar o mouse */
    cursor: pointer;
    color: #fff; /* Texto branco ao passar o mouse */
  }
  
  li img {
    border-radius: 10px;
    height: 180px;
    width: 100%;
  }
  
  p {
    background: #fff;
    padding: 10px;
  }
  
  h2 {
    max-height: 60px;
    overflow: auto;
    background: #fff;
    margin-top: 10px;
    padding: 10px;
  }
  
  .div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
  }
  
  button {
    border: none;
    border-radius: 5px;
    background: #e60000; /* Vermelho Americanas para os botões */
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background: #ff0000; /* Vermelho Americanas mais claro ao passar o mouse */
  }
/* ... outros estilos ... */

li:hover {
  background: #e60000;
  cursor: pointer;
  color: #fff; /* Cor de texto para todo o li ao passar o mouse */
}

li:hover h2,
li:hover p {
  color: #333; /* Cor de texto específica para h2 e p ao passar o mouse */
}

/* ... outros estilos ... */
